*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    float: center;
    padding: 20px;
    height: 500px;
    width: 500px;
}

.numero{
    margin-bottom: 20px;
    height: 27px;
    width: 120px;
}

p{
    font-size: 20px;
    margin-bottom: 10px;
}

.botao{
    height: 30px;
    width: 150px;
    margin-right: 10px;
    font-size: 17px;
    text-align: center;
}